.dropdown-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100px;
    margin: 20px;
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
  }
  
  .dropdown-select {
    padding: 5px;
    border-radius: 6px;
    font-size: 16px;
    background-color: #1e1e1e;
    cursor: pointer;
    color: white
  }