on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v3

      # Install Expect (for password automation)
      - name: Install Expect
        run: sudo apt-get install -y expect

      # Deploy using SSH and Password
      - name: Deploy Application
        run: |
          expect << EOF
          spawn ssh -o StrictHostKeyChecking=no root@${{ secrets.SSH_HOST }}
          expect "password:"
          send "${{ secrets.SSH_PASSWORD }}\r"
          expect "# "

          send "cd .. && cd /var/www/html && git config --system --add safe.directory /var/www/html && git stash && git pull https://${{ secrets.GIT_USERNAME }}:${{ secrets.GIT_TOKEN }}@github.com//parzzzival8080/tx-web.git ${{ env.GIT_BRANCH }}  && npm install && npm run build \r"
          expect "# "
          send "echo '<IfModule mod_negotiation.c>\n  Options -MultiViews\n</IfModule>\n<IfModule mod_rewrite.c>\n  RewriteEngine On\n  RewriteBase /\n  RewriteRule ^index\\.html$ - \\[L\\]\n  RewriteCond %{REQUEST_FILENAME} !-f\n  RewriteCond %{REQUEST_FILENAME} !-d\n  RewriteRule . /index.html \\[L\\]\n</IfModule>' > build/.htaccess \r"
          expect "# "
          send "exit\r"
          expect eof
          EOF
